#heading,#cover,#result{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin-left: 550px;
}
#heading,#result{
  margin-top: 10vh;
}
#heading{
  background-color: rgb(169, 244, 169);
  height: 100px;

}
#cover{
 height: 100px;
  background-color: #dadadada;
}
img{
  height: 350px;
  width: 800px;
}


@media only screen and (max-width: 600px) {
 img{
  margin-top: 200px;
  height: 200px;
  width: 400px;
 }
 #cover,#heading,#result{
  margin-left: 0;
 } #cover,#heading{
  width: 450px;
  margin-left: 20px;
 }
 body{
  width: 100vw;
  height: 100vh;
 }
}

  
